body {
    font-family: Roboto;
    display: flex;
    flex-direction: column;
}

.header,
.content-awesome,
.footer {
    background-color: #1F2937;
}

ul {
    list-style-type: none;
    display: flex;
}

a {
    text-decoration: none;
}

.content-awesome {
    display: flex;
}

.content-quote {
    background-color: #E5E7EB;
}

img {
    width: 400px;
}