body {
    font-family: roboto;
    display: flex;
    flex-direction: column;
    margin: 0;
}

.header,
.content-awesome,
.footer {
    background-color: #1F2937;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 150px;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: 900;
}

ul {
    list-style-type: none;
    display: flex;
}

a {
    text-decoration: none;
    font-size: 18px;
    color:#E5E7EB;
    padding: 8px;
}

.content-awesome {
    display: flex;
    justify-content: space-between;
    padding: 100px 150px;
}

.card-left {}

.hero-main {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.hero-second {
    font-size: 18px;
    color: #E5E7EB;
}

button {
    background-color: #3882f6;
    color: #f9faf8;
    cursor: pointer;
    padding: 8px 24px;
    border-radius: 8px;
    border: 1px solid #3882f6;
    font-weight: bold;
}

.image-right {}



.content-quote {
    background-color: #E5E7EB;
}

img {
    width: 400px;
}