body {
    font-family: Roboto;
    display: flex;
    flex-direction: column;
}

.header,
.content-awesome,
.footer {
    background-color: #1F2937;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

ul {
    list-style-type: none;
    display: flex;
}

a {
    text-decoration: none;
    font-size: 18px;
    color:#E5E7EB;
    padding: 8px;
}

.content-awesome {
    display: flex;
}

.content-quote {
    background-color: #E5E7EB;
}

img {
    width: 400px;
}